filter-editor {
  display: flex;
  color: @black;
  flex-wrap: wrap;

  .filter-editor-filter {
    background-color: @kibanaGray6;
    border-radius: 2px;
    display: inline-block;
    margin: 0 6px 6px 0;
    padding: 6px;
    width: 200px;


    .form-group:last-child {
      margin-bottom: 0;
    }
  }

  .filter-editor-must .filter-editor-clause {
    border-color: @kibanaGreen2;
  }

  .filter-editor-must_not .filter-editor-clause {
    border-color: @kibanaRed2;
  }

  .filter-editor-clause {
    border-color: @kibanaYellow2;
    display: inline-block;
    transition: border-color 1s ease;
    width: 140px;
  }

  .filter-editor-fieldname {
    display: flex;
  }

  .filter-editor-add {
    align-items: center;
    background-color: @kibanaGreen1;
    border-radius: 2px;
    color: @white;
    display: flex;
    font-size: 2em;
    justify-content: center;
    margin: 0 6px 6px 0;
    width: 50px;
  }

  .filter-editor-remove {
    align-items: center;
    color: @kibanaRed1;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    width: 40px;
  }
}
