<div
  ng-repeat="filter in filters"
  class="filter-editor-filter filter-editor-{{filter.clause}}">

    <div class="form-group filter-editor-fieldname">
      <select
        ng-model="filter.field"
        class="form-control filter-editor-fieldname">

        <option ng-repeat="field in fields" value="{{field.name}}">
          {{field.name}}
        </option>
      </select>

      <i
        ng-click="remove($index)"
        class="fa fa-trash-o filter-editor-remove"></i>

    </div>

    <div class="form-group">
      <select
        ng-model="filter.clause"
        class="form-control filter-editor-clause">

        <option value="must">must</option>
        <option value="must_not">must not</option>
        <option value="should">should</option>
      </select> equal
    </div>

    <div class="form-group">
      <input ng-model="filter.match.query" class="form-control" />
    </div>
  </div>
</div>

<div ng-click="add()" class="filter-editor-add">
  <i class="fa fa-fw fa-plus"></i>
</div>
